<!---
_includes/lessonhead.html   lesson head stuff in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

{% assign UserCoffee = "<small>User Coffee (" -%}
{% assign UserAlpha = "<small>Student A (" -%}
{% assign UserZeta = "<small>Student Z (" -%}
{% assign VarPostDate = ")</small>" -%}
