{% comment %}
Force blank line at top.
This improves legibility of navigation includes.
{% endcomment %}
<!---
_includes/nav-tight.html   tight navigation bar code in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->
<nav class="nav-list-tight">
  {%- for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if "/" == item.link -%} class="current-page"{% endif %}>
      {{ item.name }}
    </a>
  {%- endfor %}
</nav>
