{% comment %}
Force blank line at top.
This improves legibility of navigation includes.
{% endcomment %}
<!---
_includes/navigation.html   navigation bar code in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->
<nav class="nav-list">
  {%- for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link -%} class="current-page"{% endif %}>
      {{ item.name }}
    </a>
  {%- endfor %}
</nav>
<nav class="nav-list-lesson">
  {%- for item in site.data.lessons %}
    <a href="{{ item.link }}">
      {{ item.name }}
    </a>
  {%- endfor %}
</nav>
