<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!---
_includes/pagehead.html   head of every html page in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/ico" href="/assets/icons/favicon.ico" />
<title>
{%- if page.pageTitle -%}
  {{ page.pageTitle }}
{%- elsif layout.topTitle -%}
  {{ page.title }}
{%- else -%}
  {{ "C In One Week - " | append: page.title }}
{%- endif -%}
</title>
<link rel="stylesheet" href="/assets/css/styles.css" />
<script defer type="text/javascript" src="/assets/js/reloadpages.js"></script>
{% if layout.lessonStyle -%}
{% include lessoncss.html -%}
{%- endif %}

</head>
