{%- include pagehead.html -%}

<!---
_layouts/default.html   underlying template for all pages in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

<body onload="CWKSetupReload(null, null)">

{{ content }}

<div class="validator">
</div>

</body>
</html>
