---
layout: default
lessonStyle: true
---

<!---
_layouts/front.html   template for front lessons page in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

<div class="main_page">
    <div class="page_header floating_element">
	<span class="floating_element">
	    <center>C In One Week</center>
	</span>
    </div>

    <div class="content_section floating_element">

	<div class="section_header section_header_blue">
	  C In One Week
	</div>

	{%- include nav-tight.html %}

	<div class="content_section_text">

		{{ content }}

	</div>

	{%- include license.html %}

    </div>

</div>
