---
layout: default
lessonStyle: true
topTitle: true
---

<!---
_layouts/lesson.html   template for each lesson page in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

<div class="main_page">

    <div class="content_section floating_element">

	<div class="section_header section_header_blue">
	  C In One Week - {{ page.title }}
	</div>

	{%- include nav-lesson.html %}

	<div class="content_section_text">

		<br/>

		{{ content }}

	</div>

	{%- include license.html %}

    </div>

</div>
