---
layout: default
---

<!---
_layouts/nonlesson.html   nonlesson page template used in c-in-one-week
Copyright (c) 2021  T Shaw
This work is licensed under a CC BY 4.0 license.
-->

    <div class="section_header section_header_blue">
	{%- if page.pageTitle %}
	    {{ page.pageTitle }}
	{%- else %}
	    {{ "C In One Week - " | append: page.title }}
	{%- endif %}
    </div>

    {%- include navigation.html %}

    <h1 id="{{ page.title | replace: " ", "-"
    			  | downcase }}">{{ page.title }}</h1>

    {{ content }}

    {%- include license.html %}
